<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect Non-Root Paths" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^website.radapp\.dev$" />
                        <add input="{REQUEST_URI}" pattern="^/$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/favicon\.ico$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="\.(jpg|jpeg|png|gif|svg)$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://docs.radapp.dev/{R:0}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
