<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect legacy docs paths" stopProcessing="true">
                    <match url="^/$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(www\.)?radapp\.dev$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://docs.radapp.dev/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
